*{
	padding: 0px;
	margin: 0px;
}

body{
	background-color: #6f0000;
	background-image: url('https://c1.wallpaperflare.com/preview/511/885/234/chess-game-play-king.jpg');
	background-size: cover;
}

.navbar{
	padding: 12px;
	text-align: center;
	color: #66ff00;
	font-family: 'Berkshire Swash', cursive;
	font-size: 20px;
}

.navbar h2{
	letter-spacing: 1px;
}

.rules{
	display: inline-block;
	width: 45%;
}

.rules div{
	margin: 20px;
	padding-left: 10px;
	padding-right: 10px;
	margin-bottom: 10px;
	margin-left: 20px;
	background-color: black;	
}

.note{
	width: 90%;
}

.rules p{
	color: white;
	text-align: justify;
	font-size: 15px;
	letter-spacing: 1px;
	padding-bottom: 10px;
}
.container{
	float: right;
	border: 15px solid #6f0000;
	padding: 5px;
	width: 641px;
	margin-top: 20px;
	margin-right: 30px;
}

.container ul{
	margin: -1.5px;
	padding: 0px;
	display: inline-block;
	height: 100%;
	width: 100%;
	text-align: center;
}

.container li{
	margin :-1.8px;
	display: inline-block;
	height: 80px;
	width: 80px;
	justify-content: center;
	text-align: center;
	font-size: 50px;
	color: #fd1d1d;
}

.odd li:nth-child(odd){
	background-color: black;
}

.even li:nth-child(even){
	background-color: black;
	margin-left: -1.5px;
}

.odd li:nth-child(even){
	background-color:#abbaab;
	margin-left: -1.5px;
}

.even li:nth-child(odd){
	background-color:#abbaab;
}

li:hover{
	cursor: pointer;
}

.odd li:nth-child(odd):hover{
	animation:1s odd_anim1 forwards;
}

.even li:nth-child(even):hover{
	animation:1s even_anim1 forwards;
}

.odd li:nth-child(even):hover{
	animation:1s even_anim2 forwards;
}

.even li:nth-child(odd):hover{
	animation:1s odd_anim2 forwards;
}

@keyframes odd_anim1{
	from{background-color: #6f0000;
		opacity: 0.7;
		
	}
	to{
		opacity: 1;
		
	}
}

@keyframes even_anim1{
	from{background-color: #6f0000;
		opacity: 0.7;
		
	}
	to{
		opacity: 1;
		
	}
}

@keyframes even_anim2{
	from{background-color: #fff200;
		opacity: 0.7;
		
	}
	to{
		opacity: 1;
		
	}
}

@keyframes odd_anim2{
	from{background-color: #fff200;
		opacity: 0.7;
		
	}
	to{
		opacity: 1;
		
	}
}
